<!DOCTYPE html>
<!--[if IE 9]> <html lang="zh" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="zh">
  <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <title>{% if page.full_title %}{{ page.full_title }}{% else %}{% if page.title %}{{ page.title }}-{% endif %}{{ site.title }}{% endif %}</title>
    <meta name="keywords" content="{% if page.keywords %}{{ page.keywords }}{% else %}{{ site.keywords }}{% endif %}">
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html','' }}">
    <meta name="applicable-device" content="pc,mobile">
    <link rel="apple-touch-icon" href="{{ site.url }}/images/assets/sdyea-icon.jpg">
    <meta name="apple-mobile-web-app-title" content="勒流青促进会">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% stylesheet application %}
    <link href="/fonts/fontello/css/fontello.css" rel="stylesheet">
  </head>
  <body class="no-trans front-page transparent-header">
    <div class="scrollToTop circle"><i class="fa fa-chevron-up"></i></div>
    <div class="page-wrapper">
      <div class="header-container">
        <header class="header fixed clearfix">
          <div class="container">
            <div class="row">
              <div class="col-md-3">
                <div class="header-left clearfix">
                  <div id="logo" class="logo"><a href="{{ site.url }}"><img id="logo_img" src="/images/assets/sdyea-logo.png" alt="勒流青促进会logo"></a></div>
                </div>
              </div>
              <div class="col-md-9">
                <div class="header-right clearfix">
                  <div class="main-navigation animated with-dropdown-buttons">
                    <nav class="navbar navbar-default" role="navigation">
                      <div class="container-fluid">
                        <div class="navbar-header">
                          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                            <span class="sr-only">导航</span>
                          </button>
                        </div>
                        <div class="collapse navbar-collapse" id="navbar-collapse-1">
                          <ul class="nav navbar-nav">
                            <li class="{% if page.category == 'home' %}active{% endif %}"><a href="{{ site.url }}">首页</a></li>
                            <li class="{% if page.category == 'about' %}dropdown active{% else %}dropdown{% endif %}">
                              <a class="dropdown-toggle" data-toggle="dropdown">认识青促会</a>
                              <ul class="dropdown-menu">
                                <li><a href="{{ site.url }}/about/">协会简介</a></li>
                                <li><a href="{{ site.url }}/base/">青年创业实践基地</a></li>
                                <li><a href="{{ site.url }}/member/">会员注册</a></li>
                              </ul>
                            </li>
                            <li class="{% if page.category == 'case' %}dropdown active{% else %}dropdown{% endif %}">
                              <a href="{{ site.url }}/case/" class="dropdown-toggle" data-toggle="dropdown">创业案例</a>
                              <ul class="dropdown-menu">{% for post in site.categories["case"] %}
                                <li><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></li>{% endfor %}
                              </ul>
                            </li>
                            <li class="{% if page.category == 'partners' %}active{% endif %}"><a href="{{ site.url }}/partners/">合作单位</a></li>
                            <li class="{% if page.category == 'news' %}active{% endif %}"><a href="{{ site.url }}/news/">最新动态</a></li>
                            <li class="{% if page.category == 'contact' %}active{% endif %}"><a href="{{ site.url }}/contact/">联系我们</a></li>
                          </ul>   
                        </div>
                      </div>
                    </nav>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </header>
      </div>
      {{ content }}
      <footer id="footer" class="clearfix">
        <div class="footer">
          <div class="container">
            <div class="footer-inner">
              <div class="row">
                <div class="col-md-3">
                  <div class="footer-content">
                    <h2 class="title"><a href="{{ site.url }}/about/">协会简介</a></h2>
                    <div class="separator-2"></div>
                    <p>佛山市顺德区勒流青年创业促进会是一个由顺德企事业单位、社会团体、有志创业青年、企业家，以及热心辅助青年创业的人士自愿组成的地方性、专业性非营利性社会团体，通过资金扶持、技能培训、信息服务、政策协调和社会倡导，动员社会力量帮助青年创业，带动青年就业，协助政府推进青年创业就业工作。<a href="{{ site.url }}/about/">了解更多<i class="fa fa-long-arrow-right pl-5"></i></a></p>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="footer-content">
                    <h2 class="title"><a href="{{ site.url }}/base/">青年创业实践基地</a></h2>
                    <div class="separator-2"></div>
                    <p>青年创业实践基地是勒流青年创业促进会创建，为广大应届毕业生、待业青年以及有着自主创业热情的有志青年打造的一个平台，以提高本地区周边就业率为宗旨，同时为创业青年提供创业经验、咨询服务的中心。<a href="{{ site.url }}/base/">了解更多<i class="fa fa-long-arrow-right pl-5"></i></a></p>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="footer-content">
                    <h2 class="title"><a href="{{ site.url }}/news/">最新动态</a></h2>
                    <div class="separator-2"></div>{% for post in site.categories["news-2015"] limit:3 %}
                    <div class="media margin-clear">
                      <div class="media-left">
                        <div class="overlay-container">
                          <img class="media-object" src="/images/news/{{ post.image }}.jpg" alt="{{ post.title }}">
                          <a href="{{ site.url }}{{ post.url }}" class="overlay-link small"><i class="fa fa-link"></i></a>
                        </div>
                      </div>
                      <div class="media-body">
                        <h6 class="media-heading"><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></h6>
                        <p class="small margin-clear"><i class="fa fa-calendar pr-10"></i>{{ post.date | date:"%Y年%m月%d日" }}</p>
                      </div>
                      <hr>
                    </div>{% endfor %}
                  </div>
                </div>
                
                <div class="col-md-3">
                  <div class="footer-content">
                    <h2 class="title"><a href="{{ site.url }}/contact/">联系我们</a></h2>
                    <div class="separator-2"></div>
                    <nav>
                      <ul class="list-icons">
                      <li><i class="fa fa-home pr-10"></i>广东省佛山市顺德区勒流江义连江东路27号</li>
                      <li><i class="fa fa-phone pr-10"></i>吴生：<a href="tel:15916061007">15916061007</a></li>
                      <li><i class="fa fa-fax pr-10"></i>0757-25668388</li>
                      <li><i class="fa fa-qq pr-10"></i><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=2479230741&site=qq&menu=yes">2479230741</a></li>
                      <li><i class="fa fa-weixin pr-10"></i><a href="/images/assets/weixin.jpg" class="popup-img" title="协会官方微信">勒流青年创业促进会</a></li>
                      </ul>
                    </nav>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="subfooter">
          <div class="container">
            <div class="subfooter-inner">
              <div class="row">
                <div class="col-md-12">
                  <p class="text-center">Copyright ©  2012-2015 佛山市顺德区勒流青年创业促进会 | <a href="http://www.miitbeian.gov.cn/" target="_blank">粤ICP备14011987号-1</a> | <a href="{{ site.url }}/Sitemap.xml">Sitemap</a> | 网站建设与维护：<a href="http://osw.cc" target="_blank">开源网络</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    {% javascript application %}
  </body>
</html>
